.products__noteWrap {
  margin: 30px 0;
}
.products__note {
  display: flex;
  justify-content: center;

  margin: 20px 0;
}
.products__noteItem {
  /* width: 50%; */
  margin-left: 20px;
}

.products__noteItem--core {
  display: flex;
  /* align-items: stretch; Default */
  justify-content: center;

  width: 20vw;
  margin: 0;
  padding: 0;
}
