.products__card {
  width: 25%;
  padding: 0 5px;
  overflow: hidden;
  border-radius: 0px;
  border: 0;
  color: rgb(48, 48, 48);
  box-shadow: 0 0 8px rgba(240, 240, 240, 0.8);
  margin-bottom: 20px;
}

.products__card--title {
  font-size: 16px;
}

.products__card--imgBox {
  height: 100%;
}
.products__card--img {
  transition: all 0.5s ease;
  transform-origin: center center;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.products__card--img:hover {
  transform: scale(1.1);
}

@media (max-width: 1140px) {
  .products__card {
    width: 25%;
    margin-top: 10px;
  }

  .products__card--title {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .products__card {
    width: 33.33%;
    margin-top: 10px;
  }

  .products__card--title {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .products__card {
    width: 50%;
    margin-top: 10px;
  }

  .products__card--title {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .products__card {
    width: 100%;
    margin-top: 10px;
  }
  .products__card--title {
    font-size: 12px;
  }
}
