.products {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 40px 0;
}
.products__parallax {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.products__title {
  font-size: 40px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
@media (max-width: 820px) {
  .products__title {
    font-size: 35px;
  }
}
@media (max-width: 730px) {
  .products__title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .products__title {
    font-size: 24px;
  }
}
@media (max-width: 520px) {
  .products__title {
    font-size: 20px;
  }
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0;
  /* align-items: center; */
}

.products__card {
  width: 20%;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
  color: rgb(48, 48, 48);
  box-shadow: 0 5px 10px rgba(156, 156, 156, 0.8);
  margin-bottom: 20px;
}

.products__card--title {
  font-size: 16px;
}

.products__card--imgBox {
  height: 100%;
}
.products__card--img {
  transition: all 0.5s ease;
  transform-origin: center center;
  padding-bottom: 10px;
}

.products__card--img:hover {
  transform: scale(1.1);
}

@media (max-width: 1140px) {
  .products__card {
    width: 45%;
    margin-top: 10px;
  }

  .products__card--title {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .products__card {
    width: 100%;
    margin-top: 10px;
  }

  .products__card--title {
    font-size: 14px;
  }
}

.button {
  width: 170px;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(223, 165, 15);
  background-color: transparent;
  border: 0.3px solid rgba(156, 156, 156, 0.8);
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s;
}
.button:hover {
  background-color: rgb(223, 165, 15);
  color: white;
}
