.products {
  width: 100%;
  text-align: center;
  position: relative;
  /* margin: 40px 0; */
}
.products__parallax {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.products__list {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.products__title {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
@media (max-width: 820px) {
  .products__title {
    font-size: 35px;
  }
  .products__parallax {
    height: 300px;
  }
}
@media (max-width: 730px) {
  .products__title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .products__title {
    font-size: 24px;
  }
}
@media (max-width: 520px) {
  .products__title {
    font-size: 20px;
  }
  .products__parallax {
    height: 260px;
  }

  .products__list {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.products__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: auto;
  align-items: left;
}

.button {
  width: 170px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(223, 165, 15);
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(158, 158, 158, 0.8);

  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s;
}
.button:hover {
  background-color: rgb(223, 165, 15);
  color: white;
}
