.slideShow {
  /* height: 90vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 0;
  /* margin-top: 60px; */
  background-color: rgb(255, 255, 232);
}
.slideShow__left {
  width: 50%;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
.slideShow__right {
  width: 50%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(156, 156, 156, 0.8);
  opacity: 0.9;
}
.custom-img {
  height: auto;
  object-fit: scale-down;
}

@media (max-width: 1024px) {
}
@media (max-width: 800px) {
  .slideShow {
    padding: 40px 0;
  }
}

@media (max-width: 650px) {
}
@media (max-width: 500px) {
  .slideShow {
    padding-top: 10px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
  }
  .slideShow__left {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .slideShow__right {
    width: 100%;
  }
}
